<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-6 is-vertical is-parent">
          <div class="tile is-child box ">

            <h1 class="title has-text-black"></h1>
            <form (ngSubmit)="onSubmit">

              <h1 class="title has-text-black">Word... </h1>
              <div class="field has-addons">
                <input class="input is-dark is-rounded is-focused" type="text"
                  placeholder="Type word to be formatted" (keyup.enter)="formatWord($event)" name="word">
              </div>
            </form>
          </div>
          <div class="tile is-child box">
            <h1 class="title has-text-black">Previous words</h1>
            <br>
            <div *ngFor="let data of formattedWords">
              <a class="title is-5 has-text-black button is-text" type="text"
                (click)="changeWord(data)">{{data.value}}
              </a>
            </div>
            <br>
            <button class="button is-danger is-rounded" *ngIf="formattedWords.length > 0"
              (click)="clearWords()">Clear</button>
          </div>
        </div>
        <div class="tile is-parent ">
          <div class="tile is-child box">
            <div class="columns">
              <div class="column is-half">
                <h1 class="title is-3 has-text-left has-text-black">Choose format</h1>
              </div>
              <div *ngIf="latestCopy" class="column is-one-quarter">
                <h1 class="title is-5 tag is-large is-dark">{{latestCopy}}</h1>
              </div>
            </div>
            <div *ngFor="let word of objectKeys(currentWord); let i=index">
              <div *ngIf="i != 0">
                <a class="title is-4 has-text-black button is-text" (click)="copyMessage(word)" >{{word}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>